:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.sidenav-container {
  flex: 1;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-sidenav-content {
  padding: 1rem;
}

.fab {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  z-index: 1000;
}
