@use 'sass:map';
@use '@angular/material' as mat;
@use '../../../assets/scss/abstract/variables' as var;

$config: mat.get-color-config(var.$web-theme);
$primary: map.get(var.$web-theme, primary);

$offset: calc(#{var.$gap} * 2);

:host {
  flex: 1;
  display: flex;
  position: relative;
  background-color: inherit;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

canvas {
  display: none;
}

app-squared-image {
  position: absolute;
  bottom: $offset;
  left: $offset;
  width: 50px;
  box-sizing: border-box;
  border: 2px solid mat.get-color-from-palette($primary);
  border-radius: 5px;
}

.shot-button {
  position: absolute;
  bottom: $offset;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
