.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

mat-toolbar {
  background-color: transparent;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-direction: column;
  gap: 1rem;
}
